# Rowing training
## To investigate how training commitments effect your time on the Rowing Machine (ergo)

### We will simulate data to show how three oarpeople attend training over the course of a year.
### the data points we plan on collecting are :

####  Attendance (per week 1-6 days), age (13,15), Heigh, Month, Ergo-Rating)

# Gathering the Data.


## We plan to generate the data using numpy.
## We will have 52 data points for three different Rowing-numbers (156 datapoints in total)

# What we hope to find.
## The goal is to see if we can predict the Erogo-Rate and create an mock up dataset.

In [120]:
#%matplotlib inline

## Referances
#### https://docs.scipy.org/doc/numpy-1.15.1/reference/routines.random.html
#### https://machinelearningmastery.com/how-to-generate-random-numbers-in-python/
#### https://www.datacamp.com/community/tutorials/python-numpy-tutorial

In [121]:
#import matplotlib.pyplot as plt
import numpy as np
#import scipy.stats as ss
#import seaborn as sns
#from numpy.random import seed
import pandas as pd
from numpy.random import randint

### sample size of 3 people
### no of samples I do the sample 52 times ie each week

## Here I generated the Month data

In [122]:
sequence = [i for i in range(52)]*3
month = np.asarray(sequence, dtype=np.float32)
month

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
        0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
        0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.],
      dtype=float32)

## Here I generated the attendance data, I used randint and passed it the required variables.

In [123]:
attend = randint(1, 7, 156)
attend

array([4, 2, 5, 4, 3, 4, 2, 1, 1, 5, 4, 1, 3, 4, 6, 6, 2, 2, 3, 4, 2, 1,
       2, 2, 2, 3, 3, 5, 1, 4, 3, 4, 2, 3, 6, 6, 1, 4, 2, 5, 5, 2, 4, 2,
       1, 3, 5, 2, 6, 5, 5, 3, 3, 2, 1, 3, 3, 3, 4, 3, 3, 5, 4, 3, 6, 6,
       6, 4, 3, 1, 5, 6, 3, 6, 6, 2, 2, 2, 1, 1, 6, 6, 5, 3, 1, 2, 4, 5,
       3, 2, 4, 4, 6, 2, 3, 3, 4, 4, 1, 1, 1, 2, 5, 6, 3, 5, 6, 4, 4, 3,
       1, 1, 4, 5, 5, 2, 5, 5, 1, 5, 6, 3, 3, 1, 4, 2, 1, 5, 3, 2, 2, 4,
       5, 4, 4, 2, 1, 5, 5, 6, 3, 3, 5, 4, 5, 3, 6, 6, 1, 6, 3, 6, 4, 2,
       5, 5])

## Here I created the age array and repeated it by 53 to get the required amount for the dataset

In [124]:
a = randint(13, 16, 3)
a

array([14, 15, 13])

In [125]:
age =np.repeat(a,52)
age

array([14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
       13, 13, 13])

## The height generation was similar to age only we used the random.uniform and again repeated it  by 52 to get the required size for the dataset

In [126]:
height1 = np.random.uniform(low=5.0, high=6.1, size=(3,)) 
x= np.round(height1, 2)
x

array([5.25, 5.93, 5.63])

In [127]:
height =np.repeat(x,52)
height

array([5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25,
       5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25,
       5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25,
       5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25,
       5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.93, 5.93, 5.93,
       5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93,
       5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93,
       5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93,
       5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93, 5.93,
       5.93, 5.93, 5.93, 5.93, 5.93, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.63, 5.63])

## Add the np.arrays to a Dataframe

In [129]:
setAsDataFrame =np.column_stack([month,attend,height,age])
type(setAsDataFrame)

numpy.ndarray

In [130]:
df = pd.DataFrame({'month': setAsDataFrame[:, 0], 'Attend': setAsDataFrame[:, 1], 'height': setAsDataFrame[:, 2], 'age': setAsDataFrame[:, 3]})

df

     month  Attend  height   age
0      0.0     4.0    5.25  14.0
1      1.0     2.0    5.25  14.0
2      2.0     5.0    5.25  14.0
3      3.0     4.0    5.25  14.0
4      4.0     3.0    5.25  14.0
5      5.0     4.0    5.25  14.0
6      6.0     2.0    5.25  14.0
7      7.0     1.0    5.25  14.0
8      8.0     1.0    5.25  14.0
9      9.0     5.0    5.25  14.0
10    10.0     4.0    5.25  14.0
11    11.0     1.0    5.25  14.0
12    12.0     3.0    5.25  14.0
13    13.0     4.0    5.25  14.0
14    14.0     6.0    5.25  14.0
15    15.0     6.0    5.25  14.0
16    16.0     2.0    5.25  14.0
17    17.0     2.0    5.25  14.0
18    18.0     3.0    5.25  14.0
19    19.0     4.0    5.25  14.0
20    20.0     2.0    5.25  14.0
21    21.0     1.0    5.25  14.0
22    22.0     2.0    5.25  14.0
23    23.0     2.0    5.25  14.0
24    24.0     2.0    5.25  14.0
25    25.0     3.0    5.25  14.0
26    26.0     3.0    5.25  14.0
27    27.0     5.0    5.25  14.0
28    28.0     1.0    5.25  14.0
29    29.0     4.0    5.25  14.0
..     ...     ...     ...   ...
126   22.0     1.0    5.63  13.0
127   23.0     5.0    5.63  13.0
128   24.0     3.0    5.63  13.0
129   25.0     2.0    5.63  13.0
130   26.0     2.0    5.63  13.0
131   27.0     4.0    5.63  13.0
132   28.0     5.0    5.63  13.0
133   29.0     4.0    5.63  13.0
134   30.0     4.0    5.63  13.0
135   31.0     2.0    5.63  13.0
136   32.0     1.0    5.63  13.0
137   33.0     5.0    5.63  13.0
138   34.0     5.0    5.63  13.0
139   35.0     6.0    5.63  13.0
140   36.0     3.0    5.63  13.0
141   37.0     3.0    5.63  13.0
142   38.0     5.0    5.63  13.0
143   39.0     4.0    5.63  13.0
144   40.0     5.0    5.63  13.0
145   41.0     3.0    5.63  13.0
146   42.0     6.0    5.63  13.0
147   43.0     6.0    5.63  13.0
148   44.0     1.0    5.63  13.0
149   45.0     6.0    5.63  13.0
150   46.0     3.0    5.63  13.0
151   47.0     6.0    5.63  13.0
152   48.0     4.0    5.63  13.0
153   49.0     2.0    5.63  13.0
154   50.0     5.0    5.63  13.0
155   51.0     5.0    5.63  13.0

[156 rows x 4 columns]

## Ref https://stackoverflow.com/questions/43391591/if-else-function-in-pandas-dataframe
## Ref https://data36.com/python-nested-loops-if-statements-combined-data-sciene/

### trying to get the ergo-rateing

## Using a for loop to itteriate over the dataframe.attend to check the value and assign the required string to the correct value.

In [131]:
ergoRate = np.array([])
for i in df.Attend:
    if i  < 2 :
        ergoRate =np.append(ergoRate,'v-poor')
    elif i <= 3 :
        ergoRate =np.append(ergoRate, 'poor')
    elif i <= 4:
        ergoRate =np.append(ergoRate, 'good')
    else:
        ergoRate =np.append(ergoRate, 'excellent')
(ergoRate)

array(['good', 'poor', 'excellent', 'good', 'poor', 'good', 'poor',
       'v-poor', 'v-poor', 'excellent', 'good', 'v-poor', 'poor', 'good',
       'excellent', 'excellent', 'poor', 'poor', 'poor', 'good', 'poor',
       'v-poor', 'poor', 'poor', 'poor', 'poor', 'poor', 'excellent',
       'v-poor', 'good', 'poor', 'good', 'poor', 'poor', 'excellent',
       'excellent', 'v-poor', 'good', 'poor', 'excellent', 'excellent',
       'poor', 'good', 'poor', 'v-poor', 'poor', 'excellent', 'poor',
       'excellent', 'excellent', 'excellent', 'poor', 'poor', 'poor',
       'v-poor', 'poor', 'poor', 'poor', 'good', 'poor', 'poor',
       'excellent', 'good', 'poor', 'excellent', 'excellent', 'excellent',
       'good', 'poor', 'v-poor', 'excellent', 'excellent', 'poor',
       'excellent', 'excellent', 'poor', 'poor', 'poor', 'v-poor',
       'v-poor', 'excellent', 'excellent', 'excellent', 'poor', 'v-poor',
       'poor', 'good', 'excellent', 'poor', 'poor', 'good', 'good',
       'excellent', 'poor', 'poor', 'poor', 'good', 'good', 'v-poor',
       'v-poor', 'v-poor', 'poor', 'excellent', 'excellent', 'poor',
       'excellent', 'excellent', 'good', 'good', 'poor', 'v-poor',
       'v-poor', 'good', 'excellent', 'excellent', 'poor', 'excellent',
       'excellent', 'v-poor', 'excellent', 'excellent', 'poor', 'poor',
       'v-poor', 'good', 'poor', 'v-poor', 'excellent', 'poor', 'poor',
       'poor', 'good', 'excellent', 'good', 'good', 'poor', 'v-poor',
       'excellent', 'excellent', 'excellent', 'poor', 'poor', 'excellent',
       'good', 'excellent', 'poor', 'excellent', 'excellent', 'v-poor',
       'excellent', 'poor', 'excellent', 'good', 'poor', 'excellent',
       'excellent'], dtype='<U32')

## Add the new "ergorate" to the dataframe

In [134]:
setAsDataFrame =np.column_stack([month,attend,height,age,ergoRate])
type(setAsDataFrame)

numpy.ndarray

In [135]:
df = pd.DataFrame({'month': setAsDataFrame[:, 0], 'Attend': setAsDataFrame[:, 1], 'height': setAsDataFrame[:, 2], 'age': setAsDataFrame[:, 3], 'ergorate': setAsDataFrame[:, 4]})

df

    month Attend height age   ergorate
0     0.0      4   5.25  14       good
1     1.0      2   5.25  14       poor
2     2.0      5   5.25  14  excellent
3     3.0      4   5.25  14       good
4     4.0      3   5.25  14       poor
5     5.0      4   5.25  14       good
6     6.0      2   5.25  14       poor
7     7.0      1   5.25  14     v-poor
8     8.0      1   5.25  14     v-poor
9     9.0      5   5.25  14  excellent
10   10.0      4   5.25  14       good
11   11.0      1   5.25  14     v-poor
12   12.0      3   5.25  14       poor
13   13.0      4   5.25  14       good
14   14.0      6   5.25  14  excellent
15   15.0      6   5.25  14  excellent
16   16.0      2   5.25  14       poor
17   17.0      2   5.25  14       poor
18   18.0      3   5.25  14       poor
19   19.0      4   5.25  14       good
20   20.0      2   5.25  14       poor
21   21.0      1   5.25  14     v-poor
22   22.0      2   5.25  14       poor
23   23.0      2   5.25  14       poor
24   24.0      2   5.25  14       poor
25   25.0      3   5.25  14       poor
26   26.0      3   5.25  14       poor
27   27.0      5   5.25  14  excellent
28   28.0      1   5.25  14     v-poor
29   29.0      4   5.25  14       good
..    ...    ...    ...  ..        ...
126  22.0      1   5.63  13     v-poor
127  23.0      5   5.63  13  excellent
128  24.0      3   5.63  13       poor
129  25.0      2   5.63  13       poor
130  26.0      2   5.63  13       poor
131  27.0      4   5.63  13       good
132  28.0      5   5.63  13  excellent
133  29.0      4   5.63  13       good
134  30.0      4   5.63  13       good
135  31.0      2   5.63  13       poor
136  32.0      1   5.63  13     v-poor
137  33.0      5   5.63  13  excellent
138  34.0      5   5.63  13  excellent
139  35.0      6   5.63  13  excellent
140  36.0      3   5.63  13       poor
141  37.0      3   5.63  13       poor
142  38.0      5   5.63  13  excellent
143  39.0      4   5.63  13       good
144  40.0      5   5.63  13  excellent
145  41.0      3   5.63  13       poor
146  42.0      6   5.63  13  excellent
147  43.0      6   5.63  13  excellent
148  44.0      1   5.63  13     v-poor
149  45.0      6   5.63  13  excellent
150  46.0      3   5.63  13       poor
151  47.0      6   5.63  13  excellent
152  48.0      4   5.63  13       good
153  49.0      2   5.63  13       poor
154  50.0      5   5.63  13  excellent
155  51.0      5   5.63  13  excellent

[156 rows x 5 columns]