# Rowing training
## To investigate how training commitments effect your time on the Rowing Machine (ergo)

### We will simulate data to show how three oarpeople attend training over the course of a year.
### the data points we plan on collecting are :

#### Weight, Attendance (per week 1-4 days), age (13,15), Heigh, Month, Ergo-Rating)

# Gathering the Data.


## We plan to generate the data using numpy.
## We will have 52 data points for three different Rowing-numbers (156 datapoints in total)

# What we hope to find.
## The goal is to see if we can predict the Erogo-Rate and create an mock up dataset.

In [1]:
#%matplotlib inline

## Referances
#### https://docs.scipy.org/doc/numpy-1.15.1/reference/routines.random.html
#### https://machinelearningmastery.com/how-to-generate-random-numbers-in-python/
#### https://www.datacamp.com/community/tutorials/python-numpy-tutorial

In [8]:
#import matplotlib.pyplot as plt
import numpy as np
#import scipy.stats as ss
#import seaborn as sns
#from numpy.random import seed
import pandas as pd
from numpy.random import randint

### sample size of 3 people
### no of samples I do the sample 52 times ie each week

In [9]:
sequence = [i for i in range(52)]*3
month = np.asarray(sequence, dtype=np.float32)
month

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
        0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.,
        0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50., 51.],
      dtype=float32)

In [36]:
attend = randint(1, 7, 156)
attend

array([4, 2, 4, 1, 2, 6, 2, 4, 5, 1, 5, 2, 1, 4, 3, 3, 6, 4, 5, 3, 2, 4,
       3, 5, 2, 1, 4, 2, 6, 3, 6, 1, 6, 1, 6, 1, 5, 3, 4, 4, 1, 3, 3, 3,
       4, 5, 5, 6, 4, 4, 3, 2, 4, 4, 1, 2, 1, 3, 6, 3, 5, 5, 1, 1, 2, 1,
       3, 3, 5, 6, 2, 2, 1, 4, 5, 1, 5, 4, 6, 3, 4, 6, 1, 1, 5, 6, 6, 1,
       3, 5, 3, 1, 2, 1, 5, 2, 6, 3, 1, 4, 2, 3, 2, 5, 4, 4, 3, 4, 3, 4,
       5, 4, 4, 2, 2, 5, 3, 1, 4, 6, 4, 4, 4, 4, 3, 4, 1, 5, 4, 5, 6, 4,
       4, 1, 1, 3, 2, 5, 5, 2, 2, 3, 2, 4, 6, 5, 2, 2, 3, 3, 5, 1, 2, 5,
       4, 3])

In [40]:
a = randint(13, 16, 3)
a

array([15, 13, 14])

In [41]:
age =np.repeat(a,52)
age

array([15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,
       15, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13,
       13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14])

In [31]:
height1 = np.random.uniform(low=5.011, high=6.14545, size=(3,)) 
x= np.round(height1, 2)
x

array([5.25, 5.63, 5.03])

In [33]:
height =np.repeat(x,52)
height

array([5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25,
       5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25,
       5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25,
       5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25,
       5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.25, 5.63, 5.63, 5.63,
       5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63, 5.63,
       5.63, 5.63, 5.63, 5.63, 5.63, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03,
       5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03,
       5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03,
       5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03,
       5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03, 5.03,
       5.03, 5.03])

In [43]:
setAsDataFrame =np.column_stack([month,attend,height,age])
type(setAsDataFrame)

numpy.ndarray

In [44]:
df = pd.DataFrame({'month': setAsDataFrame[:, 0], 'Attend': setAsDataFrame[:, 1], 'height': setAsDataFrame[:, 2], 'age': setAsDataFrame[:, 3]})

df

     month  Attend  height   age
0      0.0     4.0    5.25  15.0
1      1.0     2.0    5.25  15.0
2      2.0     4.0    5.25  15.0
3      3.0     1.0    5.25  15.0
4      4.0     2.0    5.25  15.0
5      5.0     6.0    5.25  15.0
6      6.0     2.0    5.25  15.0
7      7.0     4.0    5.25  15.0
8      8.0     5.0    5.25  15.0
9      9.0     1.0    5.25  15.0
10    10.0     5.0    5.25  15.0
11    11.0     2.0    5.25  15.0
12    12.0     1.0    5.25  15.0
13    13.0     4.0    5.25  15.0
14    14.0     3.0    5.25  15.0
15    15.0     3.0    5.25  15.0
16    16.0     6.0    5.25  15.0
17    17.0     4.0    5.25  15.0
18    18.0     5.0    5.25  15.0
19    19.0     3.0    5.25  15.0
20    20.0     2.0    5.25  15.0
21    21.0     4.0    5.25  15.0
22    22.0     3.0    5.25  15.0
23    23.0     5.0    5.25  15.0
24    24.0     2.0    5.25  15.0
25    25.0     1.0    5.25  15.0
26    26.0     4.0    5.25  15.0
27    27.0     2.0    5.25  15.0
28    28.0     6.0    5.25  15.0
29    29.0     3.0    5.25  15.0
..     ...     ...     ...   ...
126   22.0     1.0    5.03  14.0
127   23.0     5.0    5.03  14.0
128   24.0     4.0    5.03  14.0
129   25.0     5.0    5.03  14.0
130   26.0     6.0    5.03  14.0
131   27.0     4.0    5.03  14.0
132   28.0     4.0    5.03  14.0
133   29.0     1.0    5.03  14.0
134   30.0     1.0    5.03  14.0
135   31.0     3.0    5.03  14.0
136   32.0     2.0    5.03  14.0
137   33.0     5.0    5.03  14.0
138   34.0     5.0    5.03  14.0
139   35.0     2.0    5.03  14.0
140   36.0     2.0    5.03  14.0
141   37.0     3.0    5.03  14.0
142   38.0     2.0    5.03  14.0
143   39.0     4.0    5.03  14.0
144   40.0     6.0    5.03  14.0
145   41.0     5.0    5.03  14.0
146   42.0     2.0    5.03  14.0
147   43.0     2.0    5.03  14.0
148   44.0     3.0    5.03  14.0
149   45.0     3.0    5.03  14.0
150   46.0     5.0    5.03  14.0
151   47.0     1.0    5.03  14.0
152   48.0     2.0    5.03  14.0
153   49.0     5.0    5.03  14.0
154   50.0     4.0    5.03  14.0
155   51.0     3.0    5.03  14.0

[156 rows x 4 columns]

## Ref https://stackoverflow.com/questions/43391591/if-else-function-in-pandas-dataframe
## Ref https://data36.com/python-nested-loops-if-statements-combined-data-sciene/

### trying to get the ergo-rateing

In [45]:
staffid1 = input('Input your Staff id here ...')
staffid2 = input('Re-enter your staff id here to confirm...')
if staffid1 == staffid2:
    print('correct, searching database')
else:
    print('invalid Staff id')
    print('Error #1')

Input your Staff id here ...123
Re-enter your staff id here to confirm...123
correct, searching database

In [47]:
raw_data = {'age1': [23,45,21],'age2': [10,20,50]}
df1 = pd.DataFrame(raw_data, columns = ['age1','age2'])
df1

   age1  age2
0    23    10
1    45    20
2    21    50

In [49]:
df1.assign(age3=(df1.age1 - df1.age2).where(df1.age1 > df1.age2, 0))

   age1  age2  age3
0    23    10    13
1    45    20    25
2    21    50     0

In [65]:
for i in df.Attend:
    if i  < 2 :
        print('v-poor')
    elif i <= 3 :
        print('poor')
    elif i <= 4:
        print('good')
    else:
        print('excellent')

good
poor
good
v-poor
poor
excellent
poor
good
excellent
v-poor
excellent
poor
v-poor
good
poor
poor
excellent
good
excellent
poor
poor
good
poor
excellent
poor
v-poor
good
poor
excellent
poor
excellent
v-poor
excellent
v-poor
excellent
v-poor
excellent
poor
good
good
v-poor
poor
poor
poor
good
excellent
excellent
excellent
good
good
poor
poor
good
good
v-poor
poor
v-poor
poor
excellent
poor
excellent
excellent
v-poor
v-poor
poor
v-poor
poor
poor
excellent
excellent
poor
poor
v-poor
good
excellent
v-poor
excellent
good
excellent
poor
good
excellent
v-poor
v-poor
excellent
excellent
excellent
v-poor
poor
excellent
poor
v-poor
poor
v-poor
excellent
poor
excellent
poor
v-poor
good
poor
poor
poor
excellent
good
good
poor
good
poor
good
excellent
good
good
poor
poor
excellent
poor
v-poor
good
excellent
good
good
good
good
poor
good
v-poor
excellent
good
excellent
excellent
good
good
v-poor
v-poor
poor
poor
excellent
excellent
poor
poor
poor
poor
good
excellent
excellent
poor
poor
poor
poor
excellent
v-poor
poor
excellent
good
poor