# Rowing training
## To investigate how training commitments effect your time on the Rowing Machine (ergo)

### We will simulate data to show how three oarpeople attend training over the course of a year.
### the data points we plan on collecting are :

#### Weight, Attendance (per week 1-4 days), age (13,15), Heigh, Month, Ergo-Rating)

# Gathering the Data.


## We plan to generate the data using numpy.
## We will have 52 data points for three different Rowing-numbers (156 datapoints in total)

# What we hope to find.
## The goal is to see if we can predict the Erogo-Rate and create an mock up dataset.

In [1]:
%matplotlib inline

## Referances
#### https://docs.scipy.org/doc/numpy-1.15.1/reference/routines.random.html
#### https://machinelearningmastery.com/how-to-generate-random-numbers-in-python/
#### https://www.datacamp.com/community/tutorials/python-numpy-tutorial

In [40]:
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as ss
import seaborn as sns
from numpy.random import seed
import pandas as pd
from numpy.random import randint

### sample size of 3 people
### no of samples I do the sample 52 times ie each week

In [41]:
sequence = [i for i in range(52)]*3
npa = np.asarray(sequence, dtype=np.float32)
type(npa)

numpy.ndarray

In [42]:
values = randint(1, 4, 156)
type(values)

numpy.ndarray

In [43]:
st =np.column_stack([npa,values])
type(st)

numpy.ndarray

In [45]:
dataset = pd.DataFrame({'month': st[:, 0], 'Attend': st[:, 1]})
dataset

     month  Attend
0      0.0     3.0
1      1.0     2.0
2      2.0     3.0
3      3.0     1.0
4      4.0     1.0
5      5.0     2.0
6      6.0     3.0
7      7.0     1.0
8      8.0     3.0
9      9.0     3.0
10    10.0     1.0
11    11.0     1.0
12    12.0     3.0
13    13.0     1.0
14    14.0     2.0
15    15.0     1.0
16    16.0     1.0
17    17.0     2.0
18    18.0     2.0
19    19.0     3.0
20    20.0     1.0
21    21.0     2.0
22    22.0     2.0
23    23.0     3.0
24    24.0     1.0
25    25.0     3.0
26    26.0     1.0
27    27.0     3.0
28    28.0     2.0
29    29.0     1.0
..     ...     ...
126   22.0     2.0
127   23.0     3.0
128   24.0     1.0
129   25.0     2.0
130   26.0     3.0
131   27.0     2.0
132   28.0     2.0
133   29.0     1.0
134   30.0     3.0
135   31.0     1.0
136   32.0     3.0
137   33.0     1.0
138   34.0     3.0
139   35.0     1.0
140   36.0     3.0
141   37.0     2.0
142   38.0     1.0
143   39.0     3.0
144   40.0     3.0
145   41.0     3.0
146   42.0     3.0
147   43.0     3.0
148   44.0     3.0
149   45.0     2.0
150   46.0     2.0
151   47.0     1.0
152   48.0     1.0
153   49.0     1.0
154   50.0     2.0
155   51.0     2.0

[156 rows x 2 columns]